integration/AnyErpEnterpriseCustomerIntegration/BuyerApPaymentMappingCSV/src/main/resources/xsd/PaymentSimpleCSVInput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="csv">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="line">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="supplierNumber" />
              <xs:element type="xs:string" name="businessUnit" />
              <xs:element type="xs:string" name="number" />
              <xs:element type="xs:string" name="checkNumber" />
              <xs:element type="xs:string" name="checkDate" />
              <xs:element type="xs:string" name="amount" />
              <xs:element type="xs:string" name="cancelDate" />
              <xs:element type="xs:string" name="cancelledFlag" />
              <xs:element type="xs:string" name="cashDiscountAmount" />
              <xs:element type="xs:string" name="currency" />
              <xs:element type="xs:string" name="fiscalYear" />
              <xs:element type="xs:string" name="paymentMethod" />
              <xs:element type="xs:string" name="paymentMethodCode" />
              <xs:element type="xs:string" name="paymentDate" />
              <xs:element type="xs:string" name="reference" />
              <xs:element type="xs:string" name="documentId" />
              <xs:element type="xs:string" name="invoiceDocumentId" />
              <xs:element type="xs:string" name="invoicePaymentAmount" />
              <xs:element type="xs:string" name="invoiceDiscountAmount" />
              <xs:element type="xs:string" name="invoicePaymentComment" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>