integration/AnyErpEnterpriseCustomerIntegration/BuyerApPaymentMappingCSV/src/main/resources/xsd/paymentRecord_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType" />
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element name="paymentRecord" type="paymentRecordType" maxOccurs="unbounded" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentRecordType">
    <xs:sequence>
      <xs:element type="xs:string" name="amount" minOccurs="0" />
      <xs:element type="xs:string" name="businessUnit" minOccurs="0" />
      <xs:element type="xs:string" name="cancelDate" minOccurs="0" />
      <xs:element type="xs:string" name="cancelled" minOccurs="0" />
      <xs:element type="xs:string" name="cashDiscountAmount" minOccurs="0" />
      <xs:element name="checkNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,13]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="checkPrintDate" minOccurs="0" />
      <xs:element name="currency" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [3,3]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="documentId" minOccurs="0" />
      <xs:element type="xs:string" name="encashmentDate" minOccurs="0" />
      <xs:element name="fiscalYear" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [4,4]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="number" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,10]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="paidByCheck" minOccurs="0" />
      <xs:element type="payeeBankInformationType" name="payeeBankInformation" minOccurs="0" />
      <xs:element type="payerBankInformationType" name="payerBankInformation" minOccurs="0" />
      <xs:element type="xs:string" name="paymentCount" minOccurs="0" />
      <xs:element type="xs:string" name="paymentDate" minOccurs="0" />
      <xs:element name="paymentMethod" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,255]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="paymentMethodCode" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,1]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="paymentRecordItemsType" name="paymentRecordItems" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="reference" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,29]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="vendorNumber" minOccurs="0" />
      <xs:element type="xs:string" name="ticketDocumentId" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="payeeBankInformationType">
    <xs:sequence>
      <xs:element type="xs:string" name="accountHolder" minOccurs="0" />
      <xs:element name="accountNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,18]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bankControlKey" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,2]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="bankCountry" minOccurs="0" />
      <xs:element name="bankDetails" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,4]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="bankName" minOccurs="0" />
      <xs:element name="bankNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,15]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="city" minOccurs="0" />
      <xs:element type="xs:string" name="companyName" minOccurs="0" />
      <xs:element name="country" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,2]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="postalCode" minOccurs="0" />
      <xs:element type="xs:string" name="street" minOccurs="0" />
      <xs:element name="swiftNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,11]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="payerBankInformationType">
    <xs:sequence>
      <xs:element type="xs:string" name="accountHolder" minOccurs="0" />
      <xs:element name="accountNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,18]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="bankControlKey" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,2]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="bankCountry" minOccurs="0" />
      <xs:element name="bankDetails" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,4]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="bankName" minOccurs="0" />
      <xs:element name="bankNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,15]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="city" minOccurs="0" />
      <xs:element type="xs:string" name="companyName" minOccurs="0" />
      <xs:element name="country" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,2]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="postalCode" minOccurs="0" />
      <xs:element type="xs:string" name="street" minOccurs="0" />
      <xs:element name="swiftNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,11]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentRecordItemsType">
    <xs:sequence>
      <xs:element type="xs:string" name="invoiceDocumentId" minOccurs="0" />
      <xs:element type="xs:string" name="discountAmount" minOccurs="0" />
      <xs:element type="xs:string" name="paymentAmount" minOccurs="0" />
      <xs:element type="xs:string" name="itemDescription" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>