integration/AnyErpEnterpriseCustomerIntegration/buyer.businessUnits.common.processing/src/main/resources/xsd/businessUnitValidation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="businessUnit">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="city" type="xs:string" />
                    <xs:element name="country" type="xs:string" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="postalCode" type="xs:string" />
                    <xs:element name="region" type="xs:string" />
                    <xs:element name="street" type="xs:string" />
                    <xs:element name="street2" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="currency" type="xs:string" />
              <xs:element name="name" type="xs:string" minOccurs="1" />
              <xs:element name="number" type="xs:string"  minOccurs="1" />
              <xs:element name="payingNumber" type="xs:string" />
              <xs:element name="taxId" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>