integration/AnyErpEnterpriseCustomerIntegration/buyer.ingest.template.mapper/src/main/resources/xsd/EPAckSimple.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="csv">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="headers">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="invoiceCurrency" />
              <xs:element type="xs:string" name="invoicePayDate" />
              <xs:element type="xs:string" name="invoiceAmount" />
              <xs:element type="xs:string" name="invoiceDiscountBaseAmount" />
              <xs:element type="xs:string" name="invoiceIndicator" />
              <xs:element type="xs:string" name="invoiceErpId" />
              <xs:element type="xs:string" name="transactionId" />
              <xs:element type="xs:string" name="supplierNumber" />
              <xs:element type="xs:string" name="supplierSite" />
              <xs:element type="xs:string" name="status" />
              <xs:element type="xs:string" name="platformSignature" />
              <xs:element type="xs:string" name="supplierBankName" />
              <xs:element type="xs:string" name="supplierBankBranchNumber" />
              <xs:element type="xs:string" name="supplierBankCity" />
              <xs:element type="xs:string" name="supplierBankRegion" />
              <xs:element type="xs:string" name="supplierBankStreet" />
              <xs:element type="xs:string" name="supplierBankCountry" />
              <xs:element type="xs:string" name="supplierBankaccountNumber" />
              <xs:element type="xs:string" name="supplierBankNumber" />
              <xs:element type="xs:string" name="supplierBankControlKey" />
              <xs:element type="xs:string" name="supplierBankSwiftNumber" />
              <xs:element type="xs:string" name="supplierBankIban" />
              <xs:element type="xs:string" name="financeDate" />
              <xs:element type="xs:string" name="invoiceId" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="line" maxOccurs="unbounded" minOcurrs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="invoiceCurrency" />
              <xs:element type="xs:string" name="invoicePayDate" />
              <xs:element type="xs:string" name="invoiceAmount" />
              <xs:element type="xs:string" name="invoiceDiscountBaseAmount" />
              <xs:element type="xs:string" name="invoiceIndicator" />
              <xs:element type="xs:string" name="invoiceErpId" />
              <xs:element type="xs:string" name="transactionId" />
              <xs:element type="xs:string" name="supplierNumber" />
              <xs:element type="xs:string" name="supplierSite" />
              <xs:element type="xs:string" name="status" />
              <xs:element type="xs:string" name="platformSignature" />
              <xs:element type="xs:string" name="supplierBankName" />
              <xs:element type="xs:string" name="supplierBankBranchNumber" />
              <xs:element type="xs:string" name="supplierBankCity" />
              <xs:element type="xs:string" name="supplierBankRegion" />
              <xs:element type="xs:string" name="supplierBankStreet" />
              <xs:element type="xs:string" name="supplierBankCountry" />
              <xs:element type="xs:string" name="supplierBankaccountNumber" />
              <xs:element type="xs:string" name="supplierBankNumber" />
              <xs:element type="xs:string" name="supplierBankControlKey" />
              <xs:element type="xs:string" name="supplierBankSwiftNumber" />
              <xs:element type="xs:string" name="supplierBankIban" />
              <xs:element type="xs:string" name="financeDate" />
              <xs:element type="xs:string" name="invoiceId" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>