integration/AnyErpEnterpriseCustomerIntegration/buyer.ingest.template.mapper/src/main/resources/xsd/PurchaseOrderSimple.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="csv">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="headers">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="businessUnit" />
              <xs:element type="xs:string" name="vendorNumber" />
              <xs:element type="xs:string" name="number" />
              <xs:element type="xs:string" name="documentId" />
              <xs:element type="xs:string" name="documentDate" />
              <xs:element type="xs:string" name="documentStatus" />
              <xs:element type="xs:string" name="currency" />
              <xs:element type="xs:string" name="grossAmount" />
              <xs:element type="xs:string" name="taxableIndicator" />
              <xs:element type="xs:string" name="freightTerms1" />
              <xs:element type="xs:string" name="freightTerms2" />
              <xs:element type="xs:string" name="itemNumber" />
              <xs:element type="xs:string" name="netPrice" />
              <xs:element type="xs:string" name="netValue" />
              <xs:element type="xs:string" name="deliveredQuantity" />
              <xs:element type="xs:string" name="goodsReceiptValue" />
              <xs:element type="xs:string" name="invoiceableQuantity" />
              <xs:element type="xs:string" name="invoicedQuantity" />
              <xs:element type="xs:string" name="invoicedValue" />
              <xs:element type="xs:string" name="buyerPartNumber" />
              <xs:element type="xs:string" name="supplierPartNumber" />
              <xs:element type="xs:string" name="materialDescription" />
              <xs:element type="xs:string" name="targetQuantity" />
              <xs:element type="xs:string" name="confirmationPossible" />
              <xs:element type="xs:string" name="asnPossible" />
              <xs:element type="xs:string" name="Unit" />
              <xs:element type="xs:string" name="blanketCategory" />
              <xs:element type="xs:string" name="evaluatedReceiptSettlement" />
              <xs:element type="xs:string" name="noInvoiceCreate" />
              <xs:element type="xs:string" name="internationalCommercialTerms1" />
              <xs:element type="xs:string" name="internationalCommercialTerms2" />
              <xs:element type="xs:string" name="fieldName" />
              <xs:element type="xs:string" name="fieldValue" />
              <xs:element type="xs:string" name="name" />
              <xs:element type="xs:string" name="poItemNumber" />
              <xs:element type="xs:string" name="poNumber" />
              <xs:element type="xs:string" name="City" />
              <xs:element type="xs:string" name="country" />
              <xs:element type="xs:string" name="postalCode" />
              <xs:element type="xs:string" name="region" />
              <xs:element type="xs:string" name="street" />
              <xs:element type="xs:string" name="deliveryDate" />
              <xs:element type="xs:string" name="deliveryDateType" />
              <xs:element type="xs:string" name="quantity" />
              <xs:element type="xs:string" name="asap" />
              <xs:element type="xs:string" name="days1" />
              <xs:element type="xs:string" name="days2" />
              <xs:element type="xs:string" name="daysNet" />
              <xs:element type="xs:string" name="percent1" />
              <xs:element type="xs:string" name="percent2" />
              <xs:element type="xs:string" name="termsId" />
              <xs:element type="xs:string" name="description" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="line" maxOccurs="unbounded" minOcurrs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="businessUnit" />
              <xs:element type="xs:string" name="vendorNumber" />
              <xs:element type="xs:string" name="number" />
              <xs:element type="xs:string" name="documentId" />
              <xs:element type="xs:string" name="documentDate" />
              <xs:element type="xs:string" name="documentStatus" />
              <xs:element type="xs:string" name="currency" />
              <xs:element type="xs:string" name="grossAmount" />
              <xs:element type="xs:string" name="taxableIndicator" />
              <xs:element type="xs:string" name="freightTerms1" />
              <xs:element type="xs:string" name="freightTerms2" />
              <xs:element type="xs:string" name="itemNumber" />
              <xs:element type="xs:string" name="netPrice" />
              <xs:element type="xs:string" name="netValue" />
              <xs:element type="xs:string" name="deliveredQuantity" />
              <xs:element type="xs:string" name="goodsReceiptValue" />
              <xs:element type="xs:string" name="invoiceableQuantity" />
              <xs:element type="xs:string" name="invoicedQuantity" />
              <xs:element type="xs:string" name="invoicedValue" />
              <xs:element type="xs:string" name="buyerPartNumber" />
              <xs:element type="xs:string" name="supplierPartNumber" />
              <xs:element type="xs:string" name="materialDescription" />
              <xs:element type="xs:string" name="targetQuantity" />
              <xs:element type="xs:string" name="confirmationPossible" />
              <xs:element type="xs:string" name="asnPossible" />
              <xs:element type="xs:string" name="Unit" />
              <xs:element type="xs:string" name="blanketCategory" />
              <xs:element type="xs:string" name="evaluatedReceiptSettlement" />
              <xs:element type="xs:string" name="noInvoiceCreate" />
              <xs:element type="xs:string" name="internationalCommercialTerms1" />
              <xs:element type="xs:string" name="internationalCommercialTerms2" />
              <xs:element type="xs:string" name="fieldName" />
              <xs:element type="xs:string" name="fieldValue" />
              <xs:element type="xs:string" name="name" />
              <xs:element type="xs:string" name="poItemNumber" />
              <xs:element type="xs:string" name="poNumber" />
              <xs:element type="xs:string" name="City" />
              <xs:element type="xs:string" name="country" />
              <xs:element type="xs:string" name="postalCode" />
              <xs:element type="xs:string" name="region" />
              <xs:element type="xs:string" name="street" />
              <xs:element type="xs:string" name="deliveryDate" />
              <xs:element type="xs:string" name="deliveryDateType" />
              <xs:element type="xs:string" name="quantity" />
              <xs:element type="xs:string" name="asap" />
              <xs:element type="xs:string" name="days1" />
              <xs:element type="xs:string" name="days2" />
              <xs:element type="xs:string" name="daysNet" />
              <xs:element type="xs:string" name="percent1" />
              <xs:element type="xs:string" name="percent2" />
              <xs:element type="xs:string" name="termsId" />
              <xs:element type="xs:string" name="description" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>