integration/AnyErpEnterpriseCustomerIntegration/buyer.ar.invoice.common.processing/src/main/resources/xsd/arInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="elementType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" minOccurs="0"/>
      <xs:element type="xs:string" name="value" minOccurs="0"/>
      <xs:element type="xs:string" name="reason" minOccurs="0"/>
      <xs:element type="xs:string" name="type" minOccurs="0"/>
      <xs:element type="xs:string" name="billingDocumentNumber" minOccurs="0"/>
      <xs:element type="customFieldsType" name="customFields" minOccurs="0"/>
      <xs:element type="xs:string" name="grossAmount" minOccurs="0"/>
      <xs:element type="xs:string" name="itemNumber" minOccurs="0"/>
      <xs:element type="xs:string" name="netAmount" minOccurs="0"/>
      <xs:element type="xs:string" name="payerName" minOccurs="0"/>
      <xs:element type="xs:string" name="salesDocumentLineItemNumber" minOccurs="0"/>
      <xs:element type="xs:string" name="salesDocumentNumber" minOccurs="0"/>
      <xs:element type="xs:string" name="salesDocumentType" minOccurs="0"/>
      <xs:element type="xs:string" name="taxAmount" minOccurs="0"/>
      <xs:element type="xs:string" name="taxRate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customFieldsType">
    <xs:sequence>
      <xs:element type="elementType" name="element"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="disableFinanceTypeType">
    <xs:sequence>
      <xs:element type="elementType" name="element"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineItemsType">
    <xs:sequence>
      <xs:element type="elementType" name="element"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="salesHierarchyType">
    <xs:sequence>
      <xs:element type="xs:string" name="distributionChannel"/>
      <xs:element type="xs:string" name="division"/>
      <xs:element type="xs:string" name="group"/>
      <xs:element type="xs:string" name="office"/>
      <xs:element type="xs:string" name="organization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="xs:string" name="businessUnit"/>
      <xs:element type="xs:string" name="comment"/>
      <xs:element type="xs:string" name="creditIndicator"/>
      <xs:element type="xs:string" name="currency"/>
      <xs:element type="customFieldsType" name="customFields"/>
      <xs:element type="xs:string" name="customerNumber"/>
      <xs:element type="disableFinanceTypeType" name="disableFinanceType"/>
      <xs:element type="xs:string" name="discountAmount"/>
      <xs:element type="xs:string" name="discountBaseAmount"/>
      <xs:element type="xs:string" name="dueDate"/>
      <xs:element type="xs:string" name="erpTimestamp"/>
      <xs:element type="xs:string" name="erpUniqueId"/>
      <xs:element type="xs:string" name="grossAmount"/>
      <xs:element type="xs:string" name="invoiceDate"/>
      <xs:element type="xs:string" name="invoiceNumber"/>
      <xs:element type="lineItemsType" name="lineItems"/>
      <xs:element type="xs:string" name="netAmount"/>
      <xs:element type="xs:string" name="paymentAmount"/>
      <xs:element type="xs:string" name="postingDate"/>
      <xs:element type="xs:string" name="referenceNumber"/>
      <xs:element type="salesHierarchyType" name="salesHierarchy"/>
      <xs:element type="xs:string" name="status"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>