integration/AnyErpEnterpriseCustomerIntegration/BuyerApSupplierMasterMappingStandardCSV/src/main/resources/xsd/supplierMaster_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType" />
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element name="supplierMaster" type="supplierMasterType" maxOccurs="unbounded" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplierMasterType">
    <xs:sequence>
      <xs:element type="xs:string" name="accessType" minOccurs="0" />
      <xs:element type="addressesType" name="addresses" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="bankAccountsType" name="bankAccounts" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="contactsType" name="contacts" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="customFieldsType" name="customFields" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="supplierLaunchId" minOccurs="0" />
      <xs:element type="xs:string" name="supplierNumber" minOccurs="0" />
      <xs:element type="supplierRelationsType" name="supplierRelations" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="taxIdentifiersType" name="taxIdentifiers" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="ticketDocumentId" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addressesType">
    <xs:sequence>
      <xs:element type="xs:string" name="addressLine1" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine2" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine3" minOccurs="0" />
      <xs:element type="xs:string" name="city" minOccurs="0" />
      <xs:element type="xs:string" name="country" minOccurs="0" />
      <xs:element type="xs:string" name="email" minOccurs="0" />
      <xs:element type="xs:string" name="fax" minOccurs="0" />
      <xs:element type="xs:string" name="language" minOccurs="0" />
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="phone" minOccurs="0" />
      <xs:element type="xs:string" name="poBox" minOccurs="0" />
      <xs:element type="xs:string" name="poBoxCity" minOccurs="0" />
      <xs:element type="xs:string" name="poBoxPostalCode" minOccurs="0" />
      <xs:element type="xs:string" name="postalCode" minOccurs="0" />
      <xs:element type="xs:string" name="region" minOccurs="0" />
      <xs:element type="xs:string" name="type" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bankAccountsType">
    <xs:sequence>
      <xs:element type="xs:string" name="accountNumber" minOccurs="0" />
      <xs:element type="xs:string" name="bankBranchNumber" minOccurs="0" />
      <xs:element type="xs:string" name="bankCity" minOccurs="0" />
      <xs:element type="xs:string" name="bankName" minOccurs="0" />
      <xs:element type="xs:string" name="bankNumber" minOccurs="0" />
      <xs:element type="xs:string" name="bankRegion" minOccurs="0" />
      <xs:element type="xs:string" name="bankStreet" minOccurs="0" />
      <xs:element type="xs:string" name="controlKey" minOccurs="0" />
      <xs:element type="xs:string" name="country" minOccurs="0" />
      <xs:element type="xs:string" name="currency" minOccurs="0" />
      <xs:element type="xs:string" name="iban" minOccurs="0" />
      <xs:element type="xs:string" name="externalAccountHolder" minOccurs="0" />
      <xs:element type="xs:string" name="externalAccountHolderId" minOccurs="0" />
      <xs:element type="xs:string" name="swiftNumber" minOccurs="0" />
      <xs:element type="xs:string" name="signature" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="signatureInfoType" name="signatureInfo" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signatureInfoType">
    <xs:sequence>
      <xs:element type="xs:string" name="fingerprint" minOccurs="0" />
      <xs:element type="xs:string" name="scheme" minOccurs="0" />
      <xs:element type="xs:string" name="timestamp" minOccurs="0" />
      <xs:element type="xs:string" name="version" minOccurs="0" />
      <xs:element type="xs:string" name="value" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactsType">
    <xs:sequence>
      <xs:element type="xs:string" name="department" minOccurs="0" />
      <xs:element type="xs:string" name="emailAddress" minOccurs="0" />
      <xs:element type="xs:string" name="erpId" minOccurs="0" />
      <xs:element type="xs:string" name="fax" minOccurs="0" />
      <xs:element type="xs:string" name="firstName" minOccurs="0" />
      <xs:element type="xs:string" name="invite" minOccurs="0" />
      <xs:element type="xs:string" name="lastName" minOccurs="0" />
      <xs:element type="xs:string" name="mobileNumber" minOccurs="0" />
      <xs:element type="xs:string" name="notes" minOccurs="0" />
      <xs:element type="xs:string" name="phone" minOccurs="0" />
      <xs:element type="xs:string" name="role" minOccurs="0" />
      <xs:element type="xs:string" name="transactionId" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customFieldsType">
    <xs:sequence>
      <xs:element type="xs:string" name="fieldName" minOccurs="0" />
      <xs:element type="xs:string" name="fieldValue" minOccurs="0" />
      <xs:element type="xs:string" name="showInUi" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplierRelationsType">
    <xs:sequence>
      <xs:element type="xs:string" name="businessUnit" minOccurs="0" />
      <xs:element type="xs:string" name="erpId" minOccurs="0" />
      <xs:element type="xs:string" name="invoiceRemitToMandatory" minOccurs="0" />
      <xs:element type="xs:string" name="paymentMethod" minOccurs="0" />
      <xs:element type="paymentTermsType" name="paymentTerms" minOccurs="0" />
      <xs:element type="xs:string" name="paymentTermsKey" minOccurs="0" />
      <xs:element type="xs:string" name="tedEligible" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentTermsType">
    <xs:sequence>
      <xs:element type="xs:string" name="additionalMonth1" minOccurs="0" />
      <xs:element type="xs:string" name="additionalMonth2" minOccurs="0" />
      <xs:element type="xs:string" name="asap" minOccurs="0" />
      <xs:element type="baselineDateType" name="baselineDate" minOccurs="0" />
      <xs:element type="xs:string" name="days1" minOccurs="0" />
      <xs:element type="xs:string" name="days2" minOccurs="0" />
      <xs:element type="xs:string" name="days3" minOccurs="0" />
      <xs:element type="xs:string" name="daysNet" minOccurs="0" />
      <xs:element type="xs:string" name="definedDueDate" minOccurs="0" />
      <xs:element type="xs:string" name="description" minOccurs="0" />
      <xs:element type="xs:string" name="fixedDay1" minOccurs="0" />
      <xs:element type="xs:string" name="fixedDay2" minOccurs="0" />
      <xs:element type="xs:string" name="paymentTermsKey" minOccurs="0" />
      <xs:element type="xs:string" name="percent1" minOccurs="0" />
      <xs:element type="xs:string" name="percent2" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baselineDateType">
    <xs:sequence>
      <xs:element type="xs:string" name="additionalMonth" minOccurs="0" />
      <xs:element type="xs:string" name="baselineDate" minOccurs="0" />
      <xs:element type="xs:string" name="defaultDetermination" minOccurs="0" />
      <xs:element type="xs:string" name="defaultDeterminationDescription" minOccurs="0" />
      <xs:element type="xs:string" name="fixedDay" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taxIdentifiersType">
    <xs:sequence>
      <xs:element type="xs:string" name="countryIso" minOccurs="0" />
      <xs:element type="xs:string" name="type" minOccurs="0" />
      <xs:element type="xs:string" name="value" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>