integration/AnyErpEnterpriseCustomerIntegration/BuyerArCustomerMasterMappingCSV/src/main/resources/xsd/customerMaster_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType" />
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element name="customerMaster" type="customerMasterType" maxOccurs="unbounded" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerMasterType">
    <xs:sequence>
      <xs:element type="addressType" name="address" minOccurs="0" />
      <xs:element type="xs:string" name="businessUnits" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="buyerTimestamp" minOccurs="0" />
      <xs:element type="xs:string" name="customerNumber" minOccurs="0" />
      <xs:element type="customFieldsType" name="customFields" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="salesHierarchyType" name="salesHierarchy" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="vendorNumber" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element type="xs:string" name="addressLine1" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine2" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine3" minOccurs="0" />
      <xs:element type="xs:string" name="city" minOccurs="0" />
      <xs:element type="xs:string" name="country" minOccurs="0" />
      <xs:element type="xs:string" name="email" minOccurs="0" />
      <xs:element type="xs:string" name="fax" minOccurs="0" />
      <xs:element type="xs:string" name="language" minOccurs="0" />
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="phone" minOccurs="0" />
      <xs:element type="xs:string" name="poBox" minOccurs="0" />
      <xs:element type="xs:string" name="poBoxCity" minOccurs="0" />
      <xs:element type="xs:string" name="poBoxPostalCode" minOccurs="0" />
      <xs:element type="xs:string" name="postalCode" minOccurs="0" />
      <xs:element type="xs:string" name="region" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customFieldsType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="value" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="salesHierarchyType">
    <xs:sequence>
      <xs:element type="xs:string" name="distributionChannel" minOccurs="0" />
      <xs:element type="xs:string" name="division" minOccurs="0" />
      <xs:element type="xs:string" name="group" minOccurs="0" />
      <xs:element type="xs:string" name="office" minOccurs="0" />
      <xs:element type="xs:string" name="organization" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>