integration/AnyErpEnterpriseCustomerIntegration/BuyerArInvoiceMappingCSV/src/main/resources/xsd/arInvoice_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType" />
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element name="arInvoice" type="arInvoiceType" maxOccurs="unbounded" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="arInvoiceType">
    <xs:sequence>
      <xs:element type="xs:string" name="erpTimestamp" minOccurs="0" />
      <xs:element type="xs:string" name="businessUnit" minOccurs="0" />
      <xs:element type="xs:string" name="customerNumber" minOccurs="0" />
      <xs:element type="xs:string" name="comment" minOccurs="0" />
      <xs:element type="xs:string" name="creditIndicator" minOccurs="0" />
      <xs:element name="currency" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,3]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="customFieldsType" name="customFields" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="discountAmount" minOccurs="0" />
      <xs:element type="xs:string" name="discountBaseAmount" minOccurs="0" />
      <xs:element type="xs:string" name="dueDate" minOccurs="0" />
      <xs:element type="xs:string" name="erpUniqueId" minOccurs="0" />
      <xs:element type="xs:string" name="grossAmount" minOccurs="0" />
      <xs:element type="xs:string" name="epBaseAmount" minOccurs="0" />
      <xs:element type="xs:string" name="epBaseAmountReason" minOccurs="0" />
      <xs:element type="xs:string" name="invoiceDate" minOccurs="0" />
      <xs:element name="invoiceNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,40]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="lineItemsType" name="lineItems" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="netAmount" minOccurs="0" />
      <xs:element type="xs:string" name="paymentAmount" minOccurs="0" />
      <xs:element type="xs:string" name="postingDate" minOccurs="0" />
      <xs:element type="xs:string" name="referenceNumber" minOccurs="0" />
      <xs:element type="salesHierarchyType" name="salesHierarchy" minOccurs="0" />
      <xs:element type="xs:string" name="status" minOccurs="0" />
      <xs:element type="disableFinanceTypeType" name="disableFinanceType" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customFieldsType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="value" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineItemsType">
    <xs:sequence>
      <xs:element type="customFieldsType" name="customFields" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="payerName" minOccurs="0" />
      <xs:element type="xs:string" name="itemNumber" minOccurs="0" />
      <xs:element type="xs:string" name="netAmount" minOccurs="0" />
      <xs:element type="xs:string" name="taxAmount" minOccurs="0" />
      <xs:element type="xs:string" name="taxRate" minOccurs="0" />
      <xs:element type="xs:string" name="grossAmount" minOccurs="0" />
      <xs:element type="xs:string" name="billingDocumentNumber" minOccurs="0" />
      <xs:element type="xs:string" name="salesDocumentType" minOccurs="0" />
      <xs:element type="xs:string" name="salesDocumentNumber" minOccurs="0" />
      <xs:element type="xs:string" name="salesDocumentLineItemNumber" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="salesHierarchyType">
    <xs:sequence>
      <xs:element type="xs:string" name="distributionChannel" minOccurs="0" />
      <xs:element type="xs:string" name="division" minOccurs="0" />
      <xs:element type="xs:string" name="group" minOccurs="0" />
      <xs:element type="xs:string" name="office" minOccurs="0" />
      <xs:element type="xs:string" name="organization" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="disableFinanceTypeType">
    <xs:sequence>
      <xs:element type="xs:string" name="reason" minOccurs="0" />
      <xs:element type="xs:string" name="type" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>