integration/AnyErpEnterpriseCustomerIntegration/Self_Signed_SCFBuyerApInvoicesMappingCSV/src/main/resources/xsd/invoice_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType" />
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element name="invoice" type="invoiceType" maxOccurs="unbounded" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceType">
    <xs:sequence>
      <xs:element type="xs:string" name="id" minOccurs="0" />
      <xs:element type="additionalChargesType" name="additionalCharges" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="attachments" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="buyerTimestamp" minOccurs="0" />
      <xs:element type="xs:string" name="comment" minOccurs="0" />
      <xs:element type="complianceType" name="compliance" minOccurs="0" />
      <xs:element type="creditedInvoiceErpFieldsType" name="creditedInvoiceErpFields" minOccurs="0" />
      <xs:element type="xs:string" name="currency" minOccurs="0" />
      <xs:element type="customerType" name="customer" minOccurs="0" />
      <xs:element type="customFieldsType" name="customFields" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="deliverDate" minOccurs="0" />
      <xs:element type="xs:string" name="deliveryNote" minOccurs="0" />
      <xs:element type="xs:string" name="discountAmount" minOccurs="0" />
      <xs:element type="xs:decimal" name="discountBaseAmount" minOccurs="0" />
      <xs:element type="documentLinksType" name="documentLinks" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="dueDate" minOccurs="0" />
      <xs:element type="xs:string" name="erpInvoiceStatus" minOccurs="0" />
      <xs:element type="xs:string" name="erpStatusExplanation" minOccurs="0" />
      <xs:element type="xs:string" name="externalPartnerId" minOccurs="0" />
      <xs:element type="externalIdLinkObjectsType" name="externalIdLinkObjects" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="functionalMessages" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="grossAmount" minOccurs="0" />
      <xs:element type="xs:string" name="epBaseAmount" minOccurs="0" />
      <xs:element type="xs:string" name="epBaseAmountReason" minOccurs="0" />
      <xs:element type="creditType" name="credit" minOccurs="0" />
      <xs:element type="xs:string" name="invoiceDate" minOccurs="0" />
      <xs:element type="earlyPaymentType" name="earlyPayment" minOccurs="0" />
      <xs:element type="xs:string" name="invoiceIndicator" minOccurs="0" />
      <xs:element type="metadataType" name="metadata" minOccurs="0" />
      <xs:element type="paymentType" name="payment" minOccurs="0" />
      <xs:element type="taxType" name="tax" minOccurs="0" />
      <xs:element type="xs:string" name="lineItemTotalDiscountAmount" minOccurs="0" />
      <xs:element type="lineItemsType" name="lineItems" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="netAmount" minOccurs="0" />
      <xs:element type="xs:string" name="number" minOccurs="0" />
      <xs:element type="xs:string" name="origin" minOccurs="0" />
      <xs:element type="xs:string" name="invoiceSubOrigin" minOccurs="0" />
      <xs:element type="xs:string" name="otherCurrency" minOccurs="0" />
      <xs:element type="xs:string" name="otherCurrencyExchangeRate" minOccurs="0" />
      <xs:element type="xs:string" name="partialPayment" minOccurs="0" />
      <xs:element type="xs:string" name="paymentAmount" minOccurs="0" />
      <xs:element type="xs:string" name="paymentItemText" minOccurs="0" />
      <xs:element type="xs:string" name="poNumber" minOccurs="0" />
      <xs:element type="xs:string" name="postingDate" minOccurs="0" />
      <xs:element type="xs:string" name="receivingDate" minOccurs="0" />
      <xs:element type="xs:string" name="referenceNumber" minOccurs="0" />
      <xs:element type="sapFieldType" name="sapField" minOccurs="0" />
      <xs:element type="signatureType" name="signature" minOccurs="0" />
      <xs:element type="xs:string" name="status" minOccurs="0" />
      <xs:element type="xs:string" name="statusLastUpdated" minOccurs="0" />
      <xs:element type="supplierType" name="supplier" minOccurs="0" />
      <xs:element type="xs:string" name="totalAddlChargesAmount" minOccurs="0" />
      <xs:element type="xs:string" name="totalDiscountAmount" minOccurs="0" />
      <xs:element type="disableFinanceTypeType" name="disableFinanceType" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="ticketDocumentId" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="additionalChargesType">
    <xs:sequence>
      <xs:element type="xs:string" name="creditIndicator" minOccurs="0" />
      <xs:element type="xs:string" name="description" minOccurs="0" />
      <xs:element type="xs:string" name="fieldType" minOccurs="0" />
      <xs:element type="xs:string" name="fieldValue" minOccurs="0" />
      <xs:element type="xs:string" name="specialChargeName" minOccurs="0" />
      <xs:element type="xs:string" name="taxAmount" minOccurs="0" />
      <xs:element type="xs:string" name="taxExemptReason" minOccurs="0" />
      <xs:element type="xs:string" name="taxRate" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="complianceType">
    <xs:sequence>
      <xs:element type="complianceFieldsType" name="complianceFields" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="isSigned" minOccurs="0" />
      <xs:element type="xs:string" name="nordicPaymentReference" minOccurs="0" />
      <xs:element type="xs:string" name="taxClearanceDocType" minOccurs="0" />
      <xs:element type="xs:string" name="taxClearanceUploadSchema" minOccurs="0" />
      <xs:element type="xs:string" name="taxClearanceUuid" minOccurs="0" />
      <xs:element type="xs:string" name="trustWeaverArchiveBuyerReference" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="complianceFieldsType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="type" minOccurs="0" />
      <xs:element type="xs:string" name="uiLabel" minOccurs="0" />
      <xs:element type="xs:string" name="uiPosition" minOccurs="0" />
      <xs:element type="xs:string" name="uiSection" minOccurs="0" />
      <xs:element type="xs:string" name="value" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="creditedInvoiceErpFieldsType">
    <xs:sequence>
      <xs:element type="xs:string" name="currency" minOccurs="0" />
      <xs:element type="xs:string" name="clientId" minOccurs="0" />
      <xs:element type="xs:string" name="creationDate" minOccurs="0" />
      <xs:element type="xs:string" name="documentId" minOccurs="0" />
      <xs:element type="xs:string" name="financeId" minOccurs="0" />
      <xs:element type="xs:string" name="grossAmount" minOccurs="0" />
      <xs:element type="xs:string" name="linkedDocumentId" minOccurs="0" />
      <xs:element type="xs:string" name="materialManagementId" minOccurs="0" />
      <xs:element type="xs:string" name="netAmount" minOccurs="0" />
      <xs:element type="xs:string" name="workflowId" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerType">
    <xs:sequence>
      <xs:element type="xs:string" name="businessUnit" minOccurs="0" />
      <xs:element type="buyerTaxIdentifiersType" name="buyerTaxIdentifiers" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="contactPerson" minOccurs="0" />
      <xs:element type="xs:string" name="shipTo" minOccurs="0" />
      <xs:element type="shipToAddressType" name="shipToAddress" minOccurs="0" />
      <xs:element type="toAddressType" name="toAddress" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buyerTaxIdentifiersType">
    <xs:sequence>
      <xs:element type="xs:string" name="countryIso" minOccurs="0" />
      <xs:element type="xs:string" name="type" minOccurs="0" />
      <xs:element type="xs:string" name="value" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shipToAddressType">
    <xs:sequence>
      <xs:element type="xs:string" name="addressLine1" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine2" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine3" minOccurs="0" />
      <xs:element type="xs:string" name="city" minOccurs="0" />
      <xs:element type="xs:string" name="country" minOccurs="0" />
      <xs:element type="xs:string" name="email" minOccurs="0" />
      <xs:element type="xs:string" name="fax" minOccurs="0" />
      <xs:element type="xs:string" name="language" minOccurs="0" />
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="phone" minOccurs="0" />
      <xs:element type="xs:string" name="poBox" minOccurs="0" />
      <xs:element type="xs:string" name="poBoxZipCode" minOccurs="0" />
      <xs:element type="xs:string" name="region" minOccurs="0" />
      <xs:element type="xs:string" name="zipCode" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="toAddressType">
    <xs:sequence>
      <xs:element type="xs:string" name="addressLine1" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine2" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine3" minOccurs="0" />
      <xs:element type="xs:string" name="city" minOccurs="0" />
      <xs:element type="xs:string" name="country" minOccurs="0" />
      <xs:element type="xs:string" name="email" minOccurs="0" />
      <xs:element type="xs:string" name="fax" minOccurs="0" />
      <xs:element type="xs:string" name="language" minOccurs="0" />
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="phone" minOccurs="0" />
      <xs:element type="xs:string" name="poBox" minOccurs="0" />
      <xs:element type="xs:string" name="poBoxZipCode" minOccurs="0" />
      <xs:element type="xs:string" name="region" minOccurs="0" />
      <xs:element type="xs:string" name="zipCode" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customFieldsType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="value" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentLinksType">
    <xs:sequence>
      <xs:element type="xs:string" name="financeId" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="externalIdLinkObjectsType">
    <xs:sequence>
      <xs:element type="xs:string" name="apiKeyId" minOccurs="0" />
      <xs:element type="xs:string" name="externalId" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="creditType">
    <xs:sequence>
      <xs:element type="xs:string" name="creditedInvoiceDate" minOccurs="0" />
      <xs:element type="xs:string" name="creditedInvoiceNumber" minOccurs="0" />
      <xs:element type="xs:string" name="creditReason" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="earlyPaymentType">
    <xs:sequence>
      <xs:element type="xs:string" name="financeGroup" minOccurs="0" />
      <xs:element type="xs:string" name="financeOrigin" minOccurs="0" />
      <xs:element type="xs:string" name="financeRate" minOccurs="0" />
      <xs:element type="xs:string" name="financeStart" minOccurs="0" />
      <xs:element type="invoiceAutoFinanceRateType" name="invoiceAutoFinanceRate" minOccurs="0" />
      <xs:element type="xs:string" name="nonFinanceDays" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="tedEligible" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoiceAutoFinanceRateType">
    <xs:sequence>
      <xs:element type="xs:string" name="autoFinanceRate" minOccurs="0" />
      <xs:element type="xs:string" name="invoiceRequestType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:element type="xs:string" name="lastSubmissionToErp" minOccurs="0" />
      <xs:element type="xs:string" name="transactionId" minOccurs="0" />
      <xs:element type="xs:string" name="transferAttemptsToErp" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentType">
    <xs:sequence>
      <xs:element type="xs:string" name="paymentBlock" minOccurs="0" />
      <xs:element type="xs:string" name="paymentDate" minOccurs="0" />
      <xs:element type="xs:string" name="paymentDocument" minOccurs="0" />
      <xs:element type="xs:string" name="paymentMethod" minOccurs="0" />
      <xs:element type="xs:string" name="paymentReference" minOccurs="0" />
      <xs:element type="paymentTermsType" name="paymentTerms" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentTermsType">
    <xs:sequence>
      <xs:element type="xs:string" name="additionalMonth1" minOccurs="0" />
      <xs:element type="xs:string" name="additionalMonth2" minOccurs="0" />
      <xs:element type="xs:string" name="asap" minOccurs="0" />
      <xs:element type="baselineDateType" name="baselineDate" minOccurs="0" />
      <xs:element type="xs:string" name="days1" minOccurs="0" />
      <xs:element type="xs:string" name="days2" minOccurs="0" />
      <xs:element type="xs:string" name="days3" minOccurs="0" />
      <xs:element type="xs:string" name="daysNet" minOccurs="0" />
      <xs:element type="xs:string" name="definedDueDate" minOccurs="0" />
      <xs:element type="xs:string" name="description" minOccurs="0" />
      <xs:element type="xs:string" name="fixedDay1" minOccurs="0" />
      <xs:element type="xs:string" name="fixedDay2" minOccurs="0" />
      <xs:element type="xs:string" name="paymentTermsKey" minOccurs="0" />
      <xs:element type="xs:string" name="percent1" minOccurs="0" />
      <xs:element type="xs:string" name="percent2" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baselineDateType">
    <xs:sequence>
      <xs:element type="xs:string" name="additionalMonth" minOccurs="0" />
      <xs:element type="xs:string" name="baselineDate" minOccurs="0" />
      <xs:element type="xs:string" name="defaultDetermination" minOccurs="0" />
      <xs:element type="xs:string" name="defaultDeterminationDescription" minOccurs="0" />
      <xs:element type="xs:string" name="fixedDay" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taxType">
    <xs:sequence>
      <xs:element type="xs:string" name="selectedFreightTaxRuleId" minOccurs="0" />
      <xs:element type="xs:string" name="headerTotalTaxAmount" minOccurs="0" />
      <xs:element type="xs:string" name="lineItemTotalTaxAmount" minOccurs="0" />
      <xs:element type="xs:string" name="totalTaxAmount" minOccurs="0" />
      <xs:element type="taxItemsType" name="taxItems" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taxItemsType">
    <xs:sequence>
      <xs:element type="xs:string" name="amount" minOccurs="0" />
      <xs:element type="xs:string" name="rate" minOccurs="0" />
      <xs:element type="xs:string" name="taxType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineItemsType">
    <xs:sequence>
      <xs:element type="xs:string" name="blanketItemCategory" minOccurs="0" />
      <xs:element type="customFieldsType" name="customFields" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="deliveryNote" minOccurs="0" />
      <xs:element type="xs:string" name="discount" minOccurs="0" />
      <xs:element type="xs:string" name="freight" minOccurs="0" />
      <xs:element type="xs:string" name="itemDescription" minOccurs="0" />
      <xs:element type="xs:string" name="itemNumber" minOccurs="0" />
      <xs:element type="xs:string" name="goodsReceiptSapItemNumber" minOccurs="0" />
      <xs:element type="xs:string" name="goodsReceiptSapNumber" minOccurs="0" />
      <xs:element type="xs:string" name="goodsReceiptSapYear" minOccurs="0" />
      <xs:element type="xs:string" name="materialCode" minOccurs="0" />
      <xs:element type="xs:string" name="materialCodeBuyer" minOccurs="0" />
      <xs:element type="xs:string" name="materialCodeSupplier" minOccurs="0" />
      <xs:element type="xs:string" name="netAmount" minOccurs="0" />
      <xs:element type="xs:string" name="poItemDescription" minOccurs="0" />
      <xs:element type="xs:string" name="poItemNumber" minOccurs="0" />
      <xs:element type="xs:string" name="poNumber" minOccurs="0" />
      <xs:element type="xs:string" name="pricePerUnit" minOccurs="0" />
      <xs:element type="xs:string" name="priceUnit" minOccurs="0" />
      <xs:element type="xs:string" name="quantity" minOccurs="0" />
      <xs:element type="xs:string" name="serviceLineNumber" minOccurs="0" />
      <xs:element type="xs:string" name="taxAmount" minOccurs="0" />
      <xs:element type="xs:string" name="taxClearanceItemType" minOccurs="0" />
      <xs:element type="xs:string" name="taxRate" minOccurs="0" />
      <xs:element type="xs:string" name="taxExemptReason" minOccurs="0" />
      <xs:element type="taxItemsType" name="taxItems" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="totalAmount" minOccurs="0" />
      <xs:element type="xs:string" name="unit" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sapFieldType">
    <xs:sequence>
      <xs:element type="xs:string" name="ersIndicator" minOccurs="0" />
      <xs:element type="xs:string" name="headerText" minOccurs="0" />
      <xs:element type="xs:string" name="paymentSapId" minOccurs="0" />
      <xs:element type="xs:string" name="sapCreateDate" minOccurs="0" />
      <xs:element type="xs:string" name="sapDoc" minOccurs="0" />
      <xs:element type="xs:string" name="sapIdFi" minOccurs="0" />
      <xs:element type="xs:string" name="sapIdMm" minOccurs="0" />
      <xs:element type="xs:string" name="sapIdWf" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signatureType">
    <xs:sequence>
      <xs:element type="xs:string" name="entityFingerprint" minOccurs="0" />
      <xs:element type="xs:string" name="localScheme" minOccurs="0" />
      <xs:element type="xs:string" name="signature" minOccurs="0" />
      <xs:element type="xs:string" name="signatureVersion" minOccurs="0" />
      <xs:element type="xs:string" name="timestamp" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplierType">
    <xs:sequence>
      <xs:element type="fromAddressType" name="fromAddress" minOccurs="0" />
      <xs:element type="remitToType" name="remitTo" minOccurs="0" />
      <xs:element type="remitToAddressType" name="remitToAddress" minOccurs="0" />
      <xs:element type="shipFromAddressType" name="shipFromAddress" minOccurs="0" />
      <xs:element type="xs:string" name="vendorNumber" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fromAddressType">
    <xs:sequence>
      <xs:element type="xs:string" name="addressLine1" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine2" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine3" minOccurs="0" />
      <xs:element type="xs:string" name="city" minOccurs="0" />
      <xs:element type="xs:string" name="country" minOccurs="0" />
      <xs:element type="xs:string" name="email" minOccurs="0" />
      <xs:element type="xs:string" name="fax" minOccurs="0" />
      <xs:element type="xs:string" name="language" minOccurs="0" />
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="phone" minOccurs="0" />
      <xs:element type="xs:string" name="poBox" minOccurs="0" />
      <xs:element type="xs:string" name="poBoxZipCode" minOccurs="0" />
      <xs:element type="xs:string" name="region" minOccurs="0" />
      <xs:element type="xs:string" name="zipCode" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shipFromAddressType">
    <xs:sequence>
      <xs:element type="xs:string" name="addressLine1" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine2" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine3" minOccurs="0" />
      <xs:element type="xs:string" name="city" minOccurs="0" />
      <xs:element type="xs:string" name="country" minOccurs="0" />
      <xs:element type="xs:string" name="email" minOccurs="0" />
      <xs:element type="xs:string" name="fax" minOccurs="0" />
      <xs:element type="xs:string" name="language" minOccurs="0" />
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="phone" minOccurs="0" />
      <xs:element type="xs:string" name="poBox" minOccurs="0" />
      <xs:element type="xs:string" name="poBoxZipCode" minOccurs="0" />
      <xs:element type="xs:string" name="region" minOccurs="0" />
      <xs:element type="xs:string" name="zipCode" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remitToType">
    <xs:sequence>
      <xs:element type="xs:string" name="id" minOccurs="0" />
      <xs:element type="xs:string" name="type" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remitToAddressType">
    <xs:sequence>
      <xs:element type="xs:string" name="addressLine1" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine2" minOccurs="0" />
      <xs:element type="xs:string" name="addressLine3" minOccurs="0" />
      <xs:element type="xs:string" name="city" minOccurs="0" />
      <xs:element type="xs:string" name="country" minOccurs="0" />
      <xs:element type="xs:string" name="email" minOccurs="0" />
      <xs:element type="xs:string" name="fax" minOccurs="0" />
      <xs:element type="xs:string" name="language" minOccurs="0" />
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="phone" minOccurs="0" />
      <xs:element type="xs:string" name="poBox" minOccurs="0" />
      <xs:element type="xs:string" name="poBoxZipCode" minOccurs="0" />
      <xs:element type="xs:string" name="region" minOccurs="0" />
      <xs:element type="xs:string" name="zipCode" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="disableFinanceTypeType">
    <xs:sequence>
      <xs:element type="xs:string" name="reason" minOccurs="0" />
      <xs:element type="xs:string" name="type" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>