integration/AnyErpEnterpriseCustomerIntegration/BuyerApSupplierMasterMappingCSV/src/main/resources/xsd/SupplierMasterSimpleCSVInput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="csv">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="line">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="supplierNumber" />
              <xs:element type="xs:string" name="businessUnit" />
              <xs:element type="xs:string" name="name" />
              <xs:element type="xs:string" name="addressStreet1" />
              <xs:element type="xs:string" name="addressStreet2" />
              <xs:element type="xs:string" name="addressStreet3" />
              <xs:element type="xs:string" name="addressCity" />
              <xs:element type="xs:string" name="addressRegion" />
              <xs:element type="xs:string" name="addressPostalCode" />
              <xs:element type="xs:string" name="addressPoBox" />
              <xs:element type="xs:string" name="addressPoBoxCity" />
              <xs:element type="xs:string" name="addressPoBoxZipCode" />
              <xs:element type="xs:string" name="addressCountry" />
              <xs:element type="xs:string" name="addressEmail" />
              <xs:element type="xs:string" name="addressContactPerson" />
              <xs:element type="xs:string" name="addressPhone" />
              <xs:element type="xs:string" name="taxIdCountryIso" />
              <xs:element type="xs:string" name="taxIdType" />
              <xs:element type="xs:string" name="taxIdValue" />
              <xs:element type="xs:string" name="bankAccountNumber" />
              <xs:element type="xs:string" name="bankNumber" />
              <xs:element type="xs:string" name="bankName" />
              <xs:element type="xs:string" name="bankBranchNumber" />
              <xs:element type="xs:string" name="bankCity" />
              <xs:element type="xs:string" name="bankRegion" />
              <xs:element type="xs:string" name="bankStreet" />
              <xs:element type="xs:string" name="bankCountry" />
              <xs:element type="xs:string" name="bankCurrency" />
              <xs:element type="xs:string" name="bankExternalAccountHolder" />
              <xs:element type="xs:string" name="bankSwiftNumber" />
              <xs:element type="xs:string" name="bankIban" />
              <xs:element type="xs:string" name="bankControlKey" />
              <xs:element type="xs:string" name="paymentMethod" />
              <xs:element type="xs:string" name="paymentTermsDays1" />
              <xs:element type="xs:string" name="paymentTermsDays2" />
              <xs:element type="xs:string" name="paymentTermsDaysNet" />
              <xs:element type="xs:string" name="paymentTermsDescription" />
              <xs:element type="xs:string" name="paymentTermsPercent1" />
              <xs:element type="xs:string" name="paymentTermsPercent2" />
              <xs:element type="xs:string" name="paymentTermsKey" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>