integration/AnyErpEnterpriseCustomerIntegration/BuyerApBusinessUnitMappingCSV/src/main/resources/xsd/BusinessUnitSimpleCSVInput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="csv">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="line">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="businessUnit" />
              <xs:element type="xs:string" name="name" />
              <xs:element type="xs:string" name="city" />
              <xs:element type="xs:string" name="country" />
              <xs:element type="xs:string" name="street1" />
              <xs:element type="xs:string" name="street2" />
              <xs:element type="xs:string" name="postalCode" />
              <xs:element type="xs:string" name="region" />
              <xs:element type="xs:string" name="currency" />
              <xs:element type="xs:string" name="taxId" />
	            <xs:element type="xs:string" name="number" />
              <xs:element type="xs:string" name="ticketDocumentId" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>