integration/AnyErpEnterpriseCustomerIntegration/BuyerApPOMappingCSV/src/main/resources/xsd/purchaseOrder_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType" />
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element name="purchaseOrder" type="purchaseOrderType" maxOccurs="unbounded" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="purchaseOrderType">
    <xs:sequence>
      <xs:element type="xs:string" name="asnPossible" minOccurs="0" />
      <xs:element type="xs:string" name="businessUnit" minOccurs="0" />
      <xs:element type="xs:string" name="buyerContact" minOccurs="0" />
      <xs:element type="xs:string" name="buyerTimestamp" minOccurs="0" />
      <xs:element name="currency" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,3]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="customerContact" minOccurs="0" />
      <xs:element type="customFieldsType" name="customFields" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="documentDate" minOccurs="0" />
      <xs:element type="xs:string" name="documentId" minOccurs="0" />
      <xs:element type="xs:string" name="documentStatus" minOccurs="0" />
      <xs:element type="xs:string" name="exchangeRate" minOccurs="0" />
      <xs:element type="xs:string" name="exchangeRateFixed" minOccurs="0" />
      <xs:element type="xs:string" name="freightTerms1" minOccurs="0" />
      <xs:element type="xs:string" name="freightTerms2" minOccurs="0" />
      <xs:element type="xs:string" name="grossAmount" minOccurs="0" />
      <xs:element type="lineItemsType" name="lineItems" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="number" minOccurs="0" />
      <xs:element type="objectLinksType" name="objectLinks" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="paymentTermsType" name="paymentTerms" minOccurs="0" />
      <xs:element type="xs:string" name="quotationDate" minOccurs="0" />
      <xs:element type="xs:string" name="quotationNumber" minOccurs="0" />
      <xs:element name="statusDescription" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,255]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="taxableIndicator" minOccurs="0" />
      <xs:element type="taxIdentifierType" name="taxIdentifier" minOccurs="0" />
      <xs:element type="textListType" name="textList" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="vendorNumber" minOccurs="0" />
      <xs:element type="xs:string" name="validityStart" minOccurs="0" />
      <xs:element type="xs:string" name="validityEnd" minOccurs="0" />
      <xs:element type="xs:string" name="ticketDocumentId" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customFieldsType">
    <xs:sequence>
      <xs:element type="xs:string" name="fieldName" minOccurs="0" />
      <xs:element type="elementType" name="fieldValue" minOccurs="0" />
      <xs:element type="xs:string" name="showInUi" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elementType">
    <xs:sequence>
      <xs:element type="xs:string" name="element" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineItemsType">
    <xs:sequence>
      <xs:element type="xs:string" name="acknowledgementNumber" minOccurs="0" />
      <xs:element type="xs:string" name="acknowledgementRequired" minOccurs="0" />
      <xs:element type="xs:string" name="asnPossible" minOccurs="0" />
      <xs:element type="xs:string" name="blanketCategory" minOccurs="0" />
      <xs:element name="buyerPartNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,255]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="confirmationPossible" minOccurs="0" />
      <xs:element type="customFieldsType" name="customFields" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="confirmationsType" name="confirmations" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="deliveredQuantity" minOccurs="0" />
      <xs:element type="xs:string" name="docChangeDate" minOccurs="0" />
      <xs:element type="xs:string" name="evaluatedReceiptSettlement" minOccurs="0" />
      <xs:element type="goodsReceiptsType" name="goodsReceipts" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="goodsReceiptValue" minOccurs="0" />
      <xs:element type="xs:string" name="goodsReceiptBaseInvoiceVerification" minOccurs="0" />
      <xs:element type="xs:string" name="hideLimitFlag" minOccurs="0" />
      <xs:element type="xs:string" name="internationalCommercialTerms1" minOccurs="0" />
      <xs:element type="xs:string" name="internationalCommercialTerms2" minOccurs="0" />
      <xs:element type="xs:string" name="invoiceableQuantity" minOccurs="0" />
      <xs:element type="xs:string" name="invoicedQuantity" minOccurs="0" />
      <xs:element type="xs:string" name="invoicedValue" minOccurs="0" />
      <xs:element type="xs:string" name="itemNumber" minOccurs="0" />
      <xs:element type="xs:string" name="materialDescription" minOccurs="0" />
      <xs:element type="xs:string" name="netPrice" minOccurs="0" />
      <xs:element type="xs:string" name="netValue" minOccurs="0" />
      <xs:element type="xs:string" name="netWeight" minOccurs="0" />
      <xs:element type="xs:string" name="noInvoiceCreate" minOccurs="0" />
      <xs:element type="xs:string" name="overdeliveryTolerance" minOccurs="0" />
      <xs:element type="xs:string" name="orderPriceUnit" minOccurs="0" />
      <xs:element type="xs:string" name="orderPriceUnitConversionDenominator" minOccurs="0" />
      <xs:element type="xs:string" name="orderPriceUnitConversionNumerator" minOccurs="0" />
      <xs:element type="xs:string" name="plantCode" minOccurs="0" />
      <xs:element type="xs:string" name="plantName" minOccurs="0" />
      <xs:element type="xs:string" name="priceUnit" minOccurs="0" />
      <xs:element type="xs:string" name="requisitionItemNumber" minOccurs="0" />
      <xs:element type="xs:string" name="requisitionNumber" minOccurs="0" />
      <xs:element type="schedulesType" name="schedules" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="serviceDetailsType" name="serviceDetails" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="shipFromAddressType" name="shipFromAddress" minOccurs="0" />
      <xs:element type="shipToAddressType" name="shipToAddress" minOccurs="0" />
      <xs:element name="supplierPartNumber" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,255]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="targetQuantity" minOccurs="0" />
      <xs:element type="xs:string" name="taxableIndicator" minOccurs="0" />
      <xs:element type="textListType" name="textList" maxOccurs="unbounded" minOccurs="0" />
      <xs:element type="xs:string" name="underdeliveryTolerance" minOccurs="0" />
      <xs:element type="xs:string" name="unlimited" minOccurs="0" />
      <xs:element name="unit" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="range [0,5]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="weightUnit" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmationsType">
    <xs:sequence>
      <xs:element type="xs:string" name="deliveryDate" minOccurs="0" />
      <xs:element type="xs:string" name="itemNumber" minOccurs="0" />
      <xs:element type="xs:string" name="quantity" minOccurs="0" />
      <xs:element type="xs:string" name="sequence" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="goodsReceiptsType">
    <xs:sequence>
      <xs:element type="xs:string" name="deliveryNote" minOccurs="0" />
      <xs:element type="xs:string" name="netValue" minOccurs="0" />
      <xs:element type="xs:string" name="quantity" minOccurs="0" />
      <xs:element type="xs:string" name="referenceDocumentItemNumber" minOccurs="0" />
      <xs:element type="xs:string" name="referenceDocumentNumber" minOccurs="0" />
      <xs:element type="xs:string" name="referenceDocumentYear" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="schedulesType">
    <xs:sequence>
      <xs:element type="xs:string" name="deliveryDate" minOccurs="0" />
      <xs:element type="xs:string" name="deliveryDateType" minOccurs="0" />
      <xs:element type="xs:string" name="quantity" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceDetailsType">
    <xs:sequence>
      <xs:element type="xs:string" name="deleteIndicator" minOccurs="0" />
      <xs:element type="xs:string" name="description" minOccurs="0" />
      <xs:element type="xs:string" name="externalServiceNumber" minOccurs="0" />
      <xs:element type="xs:string" name="grossPrice" minOccurs="0" />
      <xs:element type="xs:string" name="lineNumber" minOccurs="0" />
      <xs:element type="xs:string" name="netValue" minOccurs="0" />
      <xs:element type="xs:string" name="priceUnit" minOccurs="0" />
      <xs:element type="xs:string" name="quantity" minOccurs="0" />
      <xs:element type="xs:string" name="serviceNumber" minOccurs="0" />
      <xs:element type="xs:string" name="unit" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shipFromAddressType">
    <xs:sequence>
      <xs:element type="xs:string" name="city" minOccurs="0" />
      <xs:element type="xs:string" name="country" minOccurs="0" />
      <xs:element type="xs:string" name="erpId" minOccurs="0" />
      <xs:element type="xs:string" name="erpTimeZone" minOccurs="0" />
      <xs:element type="xs:string" name="fax" minOccurs="0" />
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="postalCode" minOccurs="0" />
      <xs:element type="xs:string" name="phone" minOccurs="0" />
      <xs:element type="xs:string" name="poBox" minOccurs="0" />
      <xs:element type="xs:string" name="poBoxPostalCode" minOccurs="0" />
      <xs:element type="xs:string" name="poItemNumber" minOccurs="0" />
      <xs:element type="xs:string" name="poNumber" minOccurs="0" />
      <xs:element type="xs:string" name="region" minOccurs="0" />
      <xs:element type="xs:string" name="street" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shipToAddressType">
    <xs:sequence>
      <xs:element type="xs:string" name="city" minOccurs="0" />
      <xs:element type="xs:string" name="country" minOccurs="0" />
      <xs:element type="xs:string" name="erpId" minOccurs="0" />
      <xs:element type="xs:string" name="erpTimeZone" minOccurs="0" />
      <xs:element type="xs:string" name="fax" minOccurs="0" />
      <xs:element type="xs:string" name="name" minOccurs="0" />
      <xs:element type="xs:string" name="postalCode" minOccurs="0" />
      <xs:element type="xs:string" name="phone" minOccurs="0" />
      <xs:element type="xs:string" name="poBox" minOccurs="0" />
      <xs:element type="xs:string" name="poBoxPostalCode" minOccurs="0" />
      <xs:element type="xs:string" name="poItemNumber" minOccurs="0" />
      <xs:element type="xs:string" name="poNumber" minOccurs="0" />
      <xs:element type="xs:string" name="region" minOccurs="0" />
      <xs:element type="xs:string" name="street" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="textListType">
    <xs:sequence>
      <xs:element type="xs:string" name="type" minOccurs="0" />
      <xs:element type="xs:string" name="text" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objectLinksType">
    <xs:sequence>
      <xs:element type="xs:string" name="linkType" minOccurs="0" />
      <xs:element type="xs:string" name="erpId" minOccurs="0" />
      <xs:element type="xs:string" name="erpType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="baselineDateType">
    <xs:sequence>
      <xs:element type="xs:string" name="additionalMonth" minOccurs="0" />
      <xs:element type="xs:string" name="baselineDate" minOccurs="0" />
      <xs:element type="xs:string" name="defaultDetermination" minOccurs="0" />
      <xs:element type="xs:string" name="defaultDeterminationDescription" minOccurs="0" />
      <xs:element type="xs:string" name="fixedDay" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentTermsType">
    <xs:sequence>
      <xs:element type="xs:string" name="additionalMonth1" minOccurs="0" />
      <xs:element type="xs:string" name="additionalMonth2" minOccurs="0" />
      <xs:element type="xs:string" name="asap" minOccurs="0" />
      <xs:element type="baselineDateType" name="baselineDate" minOccurs="0" />
      <xs:element type="xs:string" name="days1" minOccurs="0" />
      <xs:element type="xs:string" name="days2" minOccurs="0" />
      <xs:element type="xs:string" name="days3" minOccurs="0" />
      <xs:element type="xs:string" name="daysNet" minOccurs="0" />
      <xs:element type="xs:string" name="definedDueDate" minOccurs="0" />
      <xs:element type="xs:string" name="description" minOccurs="0" />
      <xs:element type="xs:string" name="fixedDay1" minOccurs="0" />
      <xs:element type="xs:string" name="fixedDay2" minOccurs="0" />
      <xs:element type="xs:string" name="percent1" minOccurs="0" />
      <xs:element type="xs:string" name="percent2" minOccurs="0" />
      <xs:element type="xs:string" name="termsId" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taxIdentifierType">
    <xs:sequence>
      <xs:element type="xs:string" name="type" minOccurs="0" />
      <xs:element type="xs:string" name="value" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>











